.ui-boardRow {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.ui-boardRow :not(:last-child) {
    margin-right: 10px;
}

.tooltip {
    display: none;
    visibility: hidden;
}

.ui-showError {
    width: 219px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    margin: 0 31%;
    z-index: 1;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}