.ui-rules{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(37, 33, 33);
    border-radius: 10px;
    /* justify-content: center; */
    width: 26%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    background-color: rgb(37, 33, 33);
    position: absolute;
    margin-left: 34%;
    margin-top: 5%;
    z-index: 1;
    color: #fff;
}

.ui-rules__heading{
    color: #fff;
}

.ui-rules__subHeading{
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 10px;
    font-weight: 600;
}

.ui-rules__description{
    font-size: 18px;
    line-height: 40px;
}

.ui-close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.ui-rules__example{
    margin: 10px;
}
.ui-rules__description__absent{
    padding: 5px;
    font-weight: 600;
    background-color: rgb(145, 139, 139);
    border: 3px solid rgb(145, 139, 139);
    color: #fff;
}

.ui-rules__description__present{
    padding: 5px;
    font-weight: 600;
    background-color: rgb(214, 214, 26);
    border: 3px solid rgb(214, 214, 26);
    color: #fff;
}

.ui-rules__description__exact{
    padding: 5px;
    font-weight: 600;
    background-color: rgb(123, 165, 40);
    border: 3px solid rgb(123, 165, 40);
    color: #fff;
}


