.root{
    /* display: flex; */
    /* justify-content: space-between; */
}
.main {
    /* padding: 0rem 10rem; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    width: 100%;
}
.playBoard{
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-left: 64px; */
}

.playBoard .playBoard-row {
    margin-bottom: 10px;
}

.lettersRowStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.letterStyle {
    padding: 2px;
}