.root {
    padding: 0rem 10rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.playBoard{
    margin-bottom: 100px;
}
.lettersRowStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.letterStyle {
    padding: 2px;
}