
.ui-boardBox{
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}
.ui-boardBox--notPresent {
    
    background-color: grey;
    border: 1px;
}
.ui-boardBox--present {
   
    background-color: yellow;
    border: 1px;
}
.ui-boardBox--exact {
   
    background-color: yellowgreen;
    border: 1px;
}
