.ui-boardBox--notPresent {
    width: 70px;
    height: 70px;
    background-color: grey;
    border: 1px;
}
.ui-boardBox--present {
    width: 70px;
    height: 70px;
    background-color: yellow;
    border: 1px;
}
.ui-boardBox--exact {
    width: 70px;
    height: 70px;
    background-color: yellowgreen;
    border: 1px;
}
