.ui-keyBoard-box {
    background: rgb(215, 215, 224);
    border: 1px solid rgb(215, 215, 224);
    border-radius: 5px;
    min-width: 2.5rem;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 5px;
    margin-top: 5px;
}

.ui-keyBoard-box--notPresent {
    background-color: rgb(145, 139, 139);
    border: 3px solid rgb(145, 139, 139);
    color: #fff;

}

.ui-keyBoard-box--present {
    background-color: rgb(214, 214, 26);
    border: 3px solid rgb(214, 214, 26);
    color: #fff;
}

.ui-keyBoard-box--exact {

    background-color: rgb(123, 165, 40);
    border: 3px solid rgb(123, 165, 40);
    color: #fff;
}

.ui-keyBoard-box--overlay {
    font-size: 35px;
    font-weight: 700;
    width: 60px;
    height: 70px;
    border-radius: 0px;
    margin-bottom: 20px;
}